---
import { Icon } from 'astro-icon/components';
---

<a href="#continue-reading">
  <div class="flex flex-col items-center space-y-4" id="continue-reading">
    <span class="text-muted-foreground text-sm">Continue Reading</span>
    <div class="animate-up-down fill-muted-foreground">
      <Icon name="lucide:arrow-down" class="stroke-width-1 stroke-muted-foreground size-8" />
    </div>
  </div>
</a>
