---
import { Icon } from '@iconify/react/dist/iconify.js';
import Resources from '@/components/blog/resources/index.astro';
import TagBadge from '@/components/blog/tag-badge.astro';
import Comments from '@/components/comments.astro';
import type { NoteWithAuthors } from '@/lib/collections';
import { formatDate } from '@/lib/format';
import { cn } from '@/lib/utils';
import RelatedNotes from './related-notes.astro';

interface Props {
  note: NoteWithAuthors;
}

const { note } = Astro.props;
const { resources, tags, updated_date } = note.data;
---

<footer class="mt-16 flex flex-col gap-8">
  <hr />

  <!-- Thank You Section -->
  <div class="flex flex-col items-center justify-center space-y-2 text-center">
    <h2 class="text-2xl font-semibold tracking-tight">Thank you for reading!</h2>
    <p class="text-muted-foreground">
      If you found this note helpful, feel free to share it with others.
    </p>
  </div>
  <div
    class={cn(
      'rounded-lg border bg-card p-6 text-card-foreground shadow-sm',
      resources.length + tags.length == 0 && 'hidden'
    )}
  >
    <div class="space-y-6">
      <!-- Tags and Resources -->
      <div class="space-y-4">
        {
          resources.length > 0 && (
            <div class="space-y-3">
              <h3 class="text-sm font-medium text-muted-foreground">Resources</h3>
              <Resources resources={note.data.resources} />
            </div>
          )
        }
        {
          tags.length > 0 && (
            <div class="space-y-3">
              <h3 class="text-sm font-medium text-muted-foreground">Tags</h3>
              <div class="flex flex-wrap gap-2">
                {note.data.tags.map((tag) => (
                  <TagBadge tag={tag} basePath="/notes" />
                ))}
              </div>
            </div>
          )
        }
      </div>

      <!-- Update Information -->
      {
        updated_date && (
          <div class="flex items-center gap-2 text-sm text-muted-foreground">
            <Icon icon="mdi:calendar-clock" className="h-4 w-4" />
            <span>Last updated on {formatDate(updated_date)}</span>
          </div>
        )
      }
    </div>
  </div>

  <!-- Related Content Section -->
  <div class="mb-16">
    <h2 class="mb-6 text-2xl font-semibold tracking-tight">More Notes</h2>
    <RelatedNotes note={note} />
  </div>

  <!-- Comments Section -->
  <div class="my-8">
    <Comments />
  </div>
</footer>
