---
import ProfileSection from '@/components/about/ProfileSection.astro';
import Timeline from '@/components/about/Timeline.astro';
import Layout from '@/layouts/BaseLayout.astro';

// export const prerender = true;

const page_description =
  'Learn more about my background, experience, and interests in AI and software development.';
---

<Layout title="About me" description={page_description}>
  <div class="container mx-auto max-w-6xl px-4 py-8">
    <ProfileSection author="romaingrx" />

    <!-- Timeline Sections -->
    <div class="mt-12 space-y-16">
      <div class="grid gap-16 lg:grid-cols-2">
        <Timeline type="experience" title="Experience" />
        <Timeline type="project" title="Projects" />
      </div>
      <div class="max-w-3xl">
        <Timeline type="education" title="Education" />
      </div>
    </div>
  </div>
</Layout>
