---
import BlogCard from '@/components/blog/card/index.astro';
import { Button } from '@/components/ui/button';
import type { BlogPostWithAuthors } from '@/lib/collections';

interface Props {
  posts: BlogPostWithAuthors[];
}

const { posts } = Astro.props;
---

<section class="container">
  <div class="mx-auto max-w-[800px] space-y-12 text-center">
    <div class="space-y-4 text-center">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">Recent Posts</h2>
      <p class="mx-auto max-w-[600px] text-muted-foreground">
        Check out my latest blog posts about technology, machine learning, and software development.
      </p>
    </div>

    <div class="grid place-items-center gap-8">
      {posts.map(post => <BlogCard post={post} layout={'horizontal'} />)}
    </div>

    <div class="flex justify-center">
      <Button size="lg" variant="outline" asChild>
        <a href="/blog">View All Posts</a>
      </Button>
    </div>
  </div>
</section>
