---
import { Button } from '@/components/ui/button';

import ThemeToggle from './ThemeToggle.astro';

const navigation = [
  { name: 'Home', href: '/' },
  { name: 'Blog', href: '/blog' },
  { name: 'About', href: '/about' },
];
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-14 items-center">
    <div class="mr-4 flex">
      <a href="/" class="mr-6 flex items-center space-x-2">
        <span class="font-bold">Romain</span>
      </a>
      <nav class="flex items-center space-x-6 text-sm font-medium">
        {
          navigation.map(item => (
            <a href={item.href} class="transition-colors hover:text-foreground/80">
              {item.name}
            </a>
          ))
        }
      </nav>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-2">
      <nav class="flex items-center space-x-2">
        <ThemeToggle />
        <Button variant="outline" asChild>
          <a href="/contact">Contact</a>
        </Button>
      </nav>
    </div>
  </div>
</header>
