---
import {
  BrainIcon,
  ClockIcon,
  HeartIcon,
  NetworkIcon,
  TrainIcon,
  type LucideIcon,
} from 'lucide-react';
import { Badge } from '@/components/ui/badge';

type CategoryConfig = {
  name: string;
  icon: LucideIcon;
  backgroundColor: string;
  textColor: string;
};

const categories = {
  skills: {
    name: 'Skills',
    icon: TrainIcon,
    backgroundColor: 'var(--chart-1)',
    textColor: 'var(--chart-1-foreground)',
  },
  brain: {
    name: 'Brain clarity',
    icon: BrainIcon,
    backgroundColor: 'var(--chart-2)',
    textColor: 'var(--chart-2-foreground)',
  },
  health: {
    name: 'Health',
    icon: HeartIcon,
    backgroundColor: 'var(--chart-3))',
    textColor: 'var(--chart-3-foreground))',
  },
  time: {
    name: 'Time management',
    icon: ClockIcon,
    backgroundColor: 'var(--chart-4))',
    textColor: 'var(--chart-4-foreground))',
  },
  social: {
    name: 'Social',
    icon: NetworkIcon,
    backgroundColor: 'var(--chart-5))',
    textColor: 'var(--chart-5-foreground))',
  },
} as const satisfies Record<string, CategoryConfig>;
const categoriesKeys = Object.keys(categories);

export type Category = keyof typeof categories;

export type Props = {
  category: Category;
};

const { category } = Astro.props;

if (!categoriesKeys.includes(category)) {
  throw new Error(`Category ${category} not found, please choose in ${categoriesKeys}`);
}

const { icon: Icon, backgroundColor, textColor } = categories[category];
---

<Badge
  style={{ backgroundColor: backgroundColor, color: textColor }}
  className="flex items-center gap-1 text-xs"
  client:load
>
  <Icon className="size-4" />
  <span class="text-xs font-medium">{categories[category].name}</span>
</Badge>
