---
import { Icon } from 'astro-icon/components';

import { Badge } from '@/components/ui/badge';

type Props = {
  tag: string;
  isActive?: boolean;
};

const { tag, isActive = false } = Astro.props;
---

<a href={isActive ? `/blog` : `/blog/tag/${tag}`}>
  <Badge variant={isActive ? 'active' : 'secondary'} className="gap-1.5">
    <Icon name="lucide:tag" class="h-3 w-3" />
    <span>{tag}</span>
  </Badge>
</a>
