---
import { Icon } from 'astro-icon/components';
import { Badge } from '@/components/ui/badge';
import { routes } from '@/configs/routes';

type Props = {
  tag: string;
  isActive?: boolean;
  basePath?: string;
};

const { tag, isActive = false, basePath = routes.blogs } = Astro.props;
---

<a href={isActive ? `${basePath}` : `${basePath}/tag/${tag}`}>
  <Badge variant={isActive ? 'active' : 'secondary'} className="gap-1.5">
    <Icon name="lucide:tag" class="size-3" />
    <span>{tag}</span>
  </Badge>
</a>
