@tailwind base;
@import './mdx.css';
@tailwind components;
@tailwind utilities;

 .no-scrollbar::-webkit-scrollbar {
     display: none;
 }

 .no-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
 }

 .thin-scrollbar::-webkit-scrollbar {
     height: 10px !important;
 }

 .thin-scrollbar::-webkit-scrollbar-thumb {
     background-color: var(--romaingrx-colors-brand);
     border-radius: 6px;
 }

 ::selection {
     background-color: var(--romaingrx-colors-emphasis);
     color: var(--romaingrx-colors-brand);
 }