---
import { cn } from '@/lib/utils';

type Props = astroHTML.JSX.LabelHTMLAttributes & {
  className?: string;
};

const { className, class: cls, ...props } = Astro.props;
---

<label class={cn('text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70', className, cls)} {...props}>
  <slot />
</label>
